<div>

    <h1>CART</h1>
    
    <h3 data-cid="{{this._id}}" id="cartInfo">ID CART: {{this._id}}</h3>

    {{#each this.products}}
        
        <ul>
            <li>Title: {{this.product.title}}</li> 
            <li>Description: {{this.product.description}}</li>
            <li>Code: {{this.product.code}}</li>
            <li>Price: {{this.product.price}}</li>
            <li>Status: {{this.product.status}}</li>
            <li>Stock: {{this.product.stock}}</li>
            <li>Category: {{this.product.category}}</li>
            <li>Thumbnail: {{this.product.thumbnail}}</li>
            <li>ID: {{this.product._id}}</li>
            <li>Quantity: {{this.quantity}}</li>
            <button data-pid="{{this.product._id}}" class="btnDeleteProduct">Delete product</button>
        </ul>
        
    {{/each}}
    <button id="btnDeleteAllProducts">Delete product</button>
    <button id="btnFinallyOrder">Finally Order</button>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>

