<div>
    <h1>Producto</h1>
    {{#each product}}
        <ul>
            <li>title: {{this.title}}</li> 
            <li>description: {{this.description}}</li>
            <li>code: {{this.code}}</li>
            <li>price: {{this.price}}</li>
            <li>status: {{this.status}}</li>
            <li>stock: {{this.stock}}</li>
            <li>category: {{this.category}}</li>
            <li>thumbnail: {{this.thumbnail}}</li>
            <li>id: {{this._id}}</li>
        </ul>
    {{/each}}
    <button onclick="agregar('{{this._id}}')">agregar</button>
</div>
<script src="/js/index.js"></script>
