<div>

    <h1>PRODUCTS</h1>

    {{#each this.payload}}
        <ul>
            <li>title: {{this.title}}</li> 
            <li>Price: {{this.price}}</li>
            <li>Status: {{this.status}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Category: {{this.category}}</li>
            <button onclick="ver('{{this._id}}')">View Product</button>
        </ul>
    {{/each}}

    {{#if this.hasPrevPage}}
        <a href={{this.prevLink}}><button>Previous</button></a>
    {{/if}}

    {{#if this.hasNextPage}}
        <a href={{this.nextLink}}><button>Next</button></a>
    {{/if}}
    
</div>

<script src="/js/viewProduct.js"></script>
