<div>

    <h1 id="userInfo" data-cid="{{user.cart._id}}" data-uid="{{user._id}}">Welcome {{user.name}}!</h1>

    <div>
        <a href="/viewProfile"><button>Profile</button></a>
        <button onclick="verCart('{{user.cart._id}}')">View Cart</button> 
        <a href="/newProduct"><button>New Product</button></a> 
        <a href="/viewUsers"><button>All Users</button></a> 
        <a href="/api/sessions/logout"><button>Log out</button></a>
    </div>

    <h1>PRODUCTS</h1>

    {{#each products.payload}}
        <ul>
            <li>title: {{this.title}}</li> 
            <li>Price: {{this.price}}</li>
            <li>Status: {{this.status}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Category: {{this.category}}</li>
            <button onclick="ver('{{this._id}}')">View Product</button>
            <button data-pid="{{this._id}}" class="btnAddProduct">Add to Cart</button>
        </ul>
    {{/each}}

    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><button>Previous</button></a>
    {{/if}}

    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}><button>Next</button></a>
    {{/if}}
    
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/addToCartHome.js"></script>
<script src="/js/viewCart.js"></script>
<script src="/js/viewProduct.js"></script>


