<div>

    <h1 id="userInfo" data-cid="{{user.cart._id}}">WELCOME!</h1>

    <div>
        {{#if user.first_name}}
            <p>Username: {{user.first_name}} {{user.last_name}} </p>
            <p>Email: {{user.email}}</p>
            <p>Age: {{user.age}}</p>
            <p>Role: {{user.role}}</p>
        {{else}}
            <p>Email: {{user.email}}</p>
            <p>Role: {{user.role}}</p>
        {{/if}}
        <br/>
        <a href="/api/users/logout"><button>Log out</button></a>
    </div>
    <a href="/new-product"><button>New Product</button></a>
    <button onclick="verCart('{{user.cart._id}}')">View Cart</button>     
    <h1>PRODUCTS</h1>

    {{#each products.payload}}
        <ul>
            <li>title: {{this.title}}</li> 
            <li>Price: {{this.price}}</li>
            <li>Status: {{this.status}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Category: {{this.category}}</li>
            <button onclick="ver('{{this._id}}')">View Product</button>
            <button data-pid="{{this._id}}" class="addBtn">Add to Cart</button>
        </ul>
    {{/each}}

    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><button>Previous</button></a>
    {{/if}}

    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}><button>Next</button></a>
    {{/if}}
    
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/addNew.js"></script>
<script src="/js/viewCart.js"></script>
<script src="/js/viewProduct.js"></script>

