<div>
    <h1 id="userInfo" data-cid="{{user.cart._id}}">PRODUCT</h1>
    {{#each productFound}}
        <ul>
            <li>Title: {{this.title}}</li> 
            <li>Description: {{this.description}}</li>
            <li>Code: {{this.code}}</li>
            <li>Price: {{this.price}}</li>
            <li>Status: {{this.status}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Category: {{this.category}}</li>
            <li>Thumbnail: {{this.thumbnail}}</li>
            <li>ID: {{this._id}}</li>
        </ul>
        <button data-pid="{{this._id}}" id="addBtn">Add to Cart</button>
        <button data-pid="{{this._id}}" id="addBtnDelete">Delete Product</button>
    {{/each}}
    
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/addToCart.js"></script>
<script src="/js/deleteOneProduct.js"></script>

